n8n_Vapi_Conversation_Capture.json
{
  "name": "Vapi Conversation Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi",
        "responseMode": "responseNode"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "receivedAt",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "name": "payload",
              "value": "={{JSON.stringify($json)}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "2",
      "name": "Store Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\":true,\"message\":\"Conversation received and stored in n8n execution logs\"}"
      },
      "id": "3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Store Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Payload": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}